@media (min-width: 1400px) {
    h5.sub-title {
        padding-bottom: 0;
    }
}

@media (max-width: 1199px) {
    .site-main .skills-area .second-row {
        margin-top: 0.5rem;
    }

    h4.title {
        font-size: 1.5rem;
    }

    h5.sub-title {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 991px) {
    h1.title {
        font-size: 4.5rem;
        line-height: 3rem;
    }

    h2.title {
        font-size: 3.25rem;
        line-height: 2.75rem;
    }

    h3.title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    h4.title {
        font-size: 1.5rem;
    }

    h5.sub-title {
        font-size: 1.3rem;
    }

    .button {
        font-size: 1rem;
        line-height: 2.25rem;
        padding: 0 1.25rem;
    }
}

@media (max-width: 767px) {
    .header-scrolled {
        height: auto;
    }

    .header-area .navbar {
        margin-top: -1px;
    }
    .header-area .navbar .navbar-collaps {
        margin-top: -0.1rem;
    }

    .header-area .navbar .navbar-nav {
        text-align: center;
        background-color: white;
    }

    .site-main .skills-area .second-row .card{
        margin-top: 2rem;
    }

    .site-main .resume-area .row .r-sidebar .sidebar {
        border: 1px solid var(--border-color);
        padding: 25px;
    }

    .site-main .resume-area .row .r-content .scrollspy-example{
        border: 1px solid var(--border-color);
        padding: 25px;
    }

    .site-main .resume-area .row .r-sidebar .sidebar a{
        text-align: center;
    }

    h1.title {
        font-size: 6rem;
        line-height: 3.75rem;
    }

    h2.title {
        font-size: 4rem;
        line-height: 3.75rem;
    }

    h3.title {
        font-size: 2.25rem;
        line-height: 3rem;
    }

    h4.title {
        font-size: 2rem;
    }

    h5.sub-title {
        font-size: 2rem;
    }

    h4.item {
        font-size: 1.25rem;
    }

    .button {
        font-size: 1rem;
        line-height: 3rem;
        padding: 0 2.25rem;
    }
}

@media (max-width: 576px) {
    h1.title {
        font-size: 5.2rem;
        line-height: 3.25rem;
    }

    h2.title {
        font-size: 3.75rem;
        line-height: 3.25rem;
    }

    h3.title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h4.title {
        font-size: 1.5rem;
    }

    h5.sub-title {
        font-size: 1.5rem;
    }

    .button {
        font-size: 1rem;
        line-height: 2.5rem;
        padding: 0 1.75rem;
    }
}

@media (max-width: 425px) {
    h1.title {
        font-size: 4.5rem;
        line-height: 3rem;
    }

    h2.title {
        font-size: 3.25rem;
        line-height: 3rem;
    }

    h3.title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    h4.title {
        font-size: 1.25rem;
    }

    h5.sub-title {
        font-size: 1.25rem;
    }

    .button {
        font-size: 1rem;
        line-height: 2.5rem;
        padding: 0 1.75rem;
    }
}

@media (max-width: 375px) {
    h1.title {
        font-size: 3.8rem;
        line-height: 2.75rem;
    }

    h2.title {
        font-size: 2.8rem;
        line-height: 2.75rem;
    }

    h3.title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .button {
        font-size: 0.75rem;
        line-height: 2.25rem;
        padding: 0 1.5rem;
    }
}

@media (max-width: 320px) {
    h1.title {
        font-size: 3.25rem;
        line-height: 2.5rem;
    }

    h2.title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    h3.title {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .button {
        font-size: 0.75rem;
        line-height: 2rem;
        padding: 0 1rem;
    }
}