@media (max-width: 1091px) {
    h1.title {
        font-size: 5rem;
        line-height: 3rem;
    }

    h2.title {
        font-size: 3.25rem;
        line-height: 2.5rem;
    }

    h3.title {
        font-size: 2.1rem;
        line-height: 2.5rem;
    }

    h4.title {
        font-size: 1.9rem;
    }

    h5.sub-title {
        font: normal 500 1.5rem var(--roboto);
        color: var(--text-color);
        margin-bottom: 0.75rem;
    }

    .button {
        font-size: 0.9rem;
        line-height: 2.5rem;
        padding: 0 1.75rem;
    }
}

@media (max-width: 991px) {
    h1.title {
        font-size: 4rem;
        line-height: 2.75rem;
    }

    h2.title {
        font-size: 2.75rem;
        line-height: 2.25rem;
    }

    h3.title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    h4.title {
        font-size: 1.5rem;
    }

    h5.sub-title {
        font: normal 500 1.25rem var(--roboto);
        color: var(--text-color);
        margin-bottom: 0.75rem;
    }

    .button {
        font-size: 0.75rem;
        line-height: 2.25rem;
        padding: 0 1.25rem;
    }

    .site-main .skills-area .card-row .single-card {
        padding: 1rem 0;
    }

    .site-main .skills-area .card-row {
        margin: 1rem 0;
    }

}

@media (max-width: 767px) {
    .header-scrolled {
        height: auto;
    }

    .header-area .navbar .navbar-collaps {
        margin-top: -0.1rem;
    }

    .header-area .navbar .navbar-nav {
        text-align: center;
        background-color: white;
        padding: 0.5rem;
    }

    .header-area .navbar .navbar-nav .nav-link {
        padding: 1.5rem;
    }

    h1.title {
        font-size: 5rem;
        line-height: 3rem;
    }

    h2.title {
        font-size: 3.25rem;
        line-height: 2.5rem;
    }

    h3.title {
        font-size: 2.1rem;
        line-height: 2.5rem;
    }

    h4.title {
        font-size: 1.9rem;
    }

    h5.sub-title {
        font: normal 500 1.5rem var(--roboto);
        color: var(--text-color);
        margin-bottom: 0.75rem;
    }

    .button {
        font-size: 0.9rem;
        line-height: 2.5rem;
        padding: 0 1.75rem;
    }
}

@media (max-width: 576px) {
    h1.title {
        font-size: 4rem;
        line-height: 2.75rem;
    }

    h2.title {
        font-size: 2.75rem;
        line-height: 2.25rem;
    }

    h3.title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    h4.title {
        font-size: 1.5rem;
    }

    h5.sub-title {
        font: normal 500 1.25rem var(--roboto);
        color: var(--text-color);
        margin-bottom: 0.75rem;
    }

    .button {
        font-size: 0.75rem;
        line-height: 2.25rem;
        padding: 0 1.25rem;
    }
}

@media (max-width: 425px) {
    h1.title {
        font-size: 3.25rem;
        line-height: 2.5rem;
    }

    h2.title {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }

    h3.title {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    h4.title {
        font-size: 1.25rem;
    }

    h5.sub-title {
        font: normal 500 1.1rem var(--roboto);
        color: var(--text-color);
        margin-bottom: 0.75rem;
    }

    .button {
        font-size: 0.75rem;
        line-height: 2rem;
        padding: 0 1rem;
    }
}

@media (max-width: 320px) {
    h1.title {
        font-size: 2.75rem;
        line-height: 1.75rem;
    }

    h2.title {
        font-size: 2rem;
        line-height: 2rem;
    }

    h3.title {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    h4.title {
        font-size: 1.1rem;
    }

    .button {
        font-size: 0.5rem;
        line-height: 1.5rem;
        padding: 0 1rem;
    }

}